$test-border: 2px solid teal;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color-scheme: dark light;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: rgba(240, 240, 240, 0.9);
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

#root {
  display: flex;
  position: fixed;
  min-height: 100vh;
  min-width: 100vw;
  overflow-y: scroll;
  background: #0b0c32;
  // background-size: cover;
  // z-index: -1;
  backdrop-filter: blur(2px);
  // border: pink 2px solid;
}

.App {
  display: flex;
}

//* --------------------------------- Navbar --------------------------------- */

.nav-parent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 263px;
  width: 18vw;
  height: 100%;
  padding: 18.26% 6.09% 9.13% 9.13%;
  border-right: 2px solid;
  border-image: linear-gradient(
      180deg,
      rgba(97, 218, 251, 0) 1%,
      #61dafb 16.66%,
      #9122ff 33.33%,
      #000aff 50%,
      #9022ff 66.66%,
      #61dafb 83.33%,
      rgba(97, 218, 251, 0) 99%
    )
    1;
  // border: 2px solid teal;

  .nav-top {
    display: flex;
    // border: $test-border;

    .logo {
      display: flex;
      width: 100%;
      border: $test-border;

      //* ---------------------------------- Merp ---------------------------------- */

      .merp-parent {
        width: 29.11%;
        aspect-ratio: 1/1;
        border-radius: 8px;
        border: orange 2px solid;
      }

      .logo-right{
        display: flex;
        flex-direction: column;
        width: 70.89%;
        border: salmon 2px solid;
      }
    }
  }
}
